---
layout: base
assets:
  css:
    - /assets/css/home.css
---
<img src="/assets/img/logo.png" alt="Digicoop" id="logo">
<div id="intro">
  <p class="big">
    We make collaborative online tools to help teams work better together
  </p>
  <p>
    Digicoop, based in France, develops online collaborative tools to help team work better together so that they can deliver their projects or reach their goals more efficiently with a more collaborative approach.
  </p>
  <p>
    We believe that businesses need to bring back some of their focus to the people which they are made of. That's why we have chosen to create Digicoop as a worker cooperative, meaning a company owned by its employees (known as SCOP in France). On top of that we are remote-first, almost completely paperless and managed using <a href="https://kantree.io">Kantree</a>.
  </p>
  <nav class="nav">
    {% if opened_jobs.size > 0 %}<a href="/en/jobs">We are hiring!</a>{% endif %}
    <a href="https://en.wikipedia.org/wiki/Worker_cooperative">Learn more about worker cooperatives</a>
    <a href="/">Go to French website &raquo;</a>
    <a href="https://kantree.io">Discover Kantree, our work management platform &raquo;</a>
  </nav>
  <p class="social">
    <a href="mailto:contact@digicoop.io" title="contact@digicoop.io"><i class="fa fa-envelope-o"></i></a>
    <a href="http://twitter.com/digicoop" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a href="http://facebook.com/digicoop.io" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a href="https://github.com/digicoop" title="Github"><i class="fa fa-github"></i></a>
  </p>
  {% include footer.html %}
</div>
