---
layout: page
title: Jobs
assets:
  css:
    - /assets/css/jobs.css
---

<h2>Chez Digicoop,</h2>

<p>
Nous avons un objectif clair et ambitieux, améliorer le quotidien des équipes dans les entreprises à travers le monde en leur donnant les meilleurs outils nécessaires à la collaboration et à la coordination de leur travail.
</p>
<p>
Digicoop a une particularité unique, nous sommes <a href="http://startup-coop.fr"><strong>une startup coopérative du numérique</strong></a>. Nous avons fait le pari de l’horizontalité dans la gouvernance de l’entreprise car nous pensons que c’est une pratique positive qui conduit à plus de transparence dans la prise de décision et dans la vie de l’entreprise.
</p>
<p>
Concrètement, comme dans toute les <a href="http://www.les-scop.coop/sites/fr/les-scop/qu-est-ce-qu-une-scop.html">SCOP</a>, cela veut dire que chaque salarié est amené à devenir associé, et que la pérennité de l’entreprise est un objectif fondamental.
</p>
<p>
Si vous cherchez à vous engager dans une aventure humaine où vous serez véritablement acteur de la réussite de l’entreprise dans une coopérative du numérique en forte croissance, sur un produit à forte valeur ajoutée qui modernise nos façons de travailler, alors contactez-nous !
</p>

{% assign opened_jobs = site.jobs|where:"closed",false %}
{% if opened_jobs.size > 0 %}

<h2>Sur quoi souhaitez-vous travailler ?</h2>

<ul id="jobs">
  {% for job in opened_jobs %}
    <li>
      <a href="{{job.url}}">{{job.title}}</a>
      <div>{{job.excerpt}}</div>
    </li>
  {% endfor %}
</ul>

{% else %}

<h2>Aucun poste ouvert pour le moment</h2>

{% endif %}
