---
layout: page
title: La société
---
<p>
    Digicoop développe des outils de travail collaboratif en ligne pour aider les équipes de toute
    taille à mieux travailler ensemble. L'objetif étant de pouvoir délivrer des résultats plus
    efficacement en travaillant d'une façon plus collaborative.
</p>
<p>
    Nous sommes une équipe passionée par la technologie, le web et tout ce qu'ils
    peuvent apporter à la société. Nous utilisons notre expérience pour construire
    de beaux produits, lesquels, nous l'espérons, auront un impact positif.
</p>
<p>
    Nous avons choisi de créer Digicoop comme une société coopérative et participative (SCOP)
    parce que nous croyons que les entreprises réussissent mieux quand l'intelligence collective est
    à son plus fort.
</p>
<p>
    Vous pouvez nous contacter en écrivant à <a href="mailto:contact@digicoop.io">contact@digicoop.io</a>.
</p>
<p>
    Découvrez le site <a href="http://startup-coop.fr">startup-coop.fr</a> pour en apprendre plus sur les startups coopératives.
</p>
<hr>
<h2>L'équipe</h2>
<ul id="team" class="clearfix">
    {% for member in site.data.team %}
    <li>
        <div class="avatar" style="background-image: url({{member.avatar}});"></div>
        <h2>{{member.name}}</h2>
        <h3>
            {{member.role}}
            {% if member.twitter %}
            <a href="https://twitter.com/{{member.twitter}}"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if member.linkedin %}
            <a href="https://linkedin.com/in/{{member.linkedin}}"><i class="fa fa-linkedin"></i></a>
            {% endif %}
        </h3>
    </li>
    {% endfor %}
</ul>