
.page-header .rss {
  font-size: 14px;
  vertical-align: middle;
  margin-left: 5px;
}

.post {
  margin-bottom: 70px;
  text-align: justify;
  font-size: 20px;
  line-height: 28px;
}

h1 {
  margin-bottom: 30px;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 5px;
  margin-top: 0;
  font-weight: 300;
  line-height: 48px;
}
  h1 a {
    border: 0;
  }
  h1 a:hover {
    text-decoration: none;
    background: transparent;
  }
  h1 .date {
    font-size: 15px;
    float: right;
    color: #777;
  }

.shariff {
  margin-top: 40px;
}

@media screen and (max-width: 400px) {
    h1 .date {
      display: none;
    }
}