
body {
    background: #f8f6ee url(../img/bg.png);
}
    
#logo {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

#intro {
    width: 950px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
}
#intro p {
    margin: 20px 0;
}
#intro p.big {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: normal;
}

#intro .nav {
    margin: 40px 0;
}
    #intro .nav a {
        display: inline-block;
        margin: 0 5px;
        border: 0;
        padding: 12px;
        border-radius: 4px;
        font-size: 26px;
    }

#intro .social {
    margin-top: 30px;
}
#intro .social a {
    border: 0;
    color: #847D76;
    font-size: 30px;
    margin-right: 15px;
}
#intro .social a:last-child {
    margin-right: 0;
}
#intro .social a:hover {
    color: #000;
    background: transparent;
}

#footer {
    margin-top: 20px;
    line-height: 25px;
    color: #aba38b;
}

@media screen and (max-width: 800px) {
    #logo {
        width: 100%;
        margin-top: 20px;
    }
    #intro {
        width: auto;
        padding: 0 20px;
    }
}