
body {
    font-family: Roboto, Open Sans, serial;
    font-weight: 300;
    color: #342D27;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:hover {
    background: #DAD6BB;
}

.container {
    width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .container {
        width: auto;
        padding: 0 20px;
    }
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

#header {
    background: #EAE7D2;
    padding: 30px 0;
    text-align: center;
}
    #header .logo {
        border: 0;
    }
    #header .logo:hover {
        background: transparent;
    }
        #header .logo img {
            width: 300px;
        }
    #header .nav a {
        border: 0;
        padding: 3px 5px;
        border-radius: 4px;
        color: #837A73;
    }

#footer {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #aaa;
    text-align: center;
    font-size: 12px;
}
    #footer a {
        color: #aaa;
    }

@media screen and (max-width: 500px) {
    #footer {
        margin-top: 40px;
    }
}

.page-header {
    background: #E2DEC2;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding: 8px 0;
    font-size: 30px;
    font-weight: 300;
    color: #81756B;
}
    .page-header a {
        border: 0;
        color: #81756B;
    }
    .page-header a:hover {
        text-decoration: none;
        background: transparent;
    }

#products {
    list-style: none;
    padding: 0;
    margin: 0;
}
    #products li {
        margin: 0;
        margin-bottom: 20px;
    }
        #products li > a:first-child {
            float: left;
            margin-right: 25px;
            margin-bottom: 10px;
            box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.36);
            border: 0;
            line-height: 0;
        }
        #products li > h2 {
            margin-top: 0;
            font-weight: normal;
        }
            #products li > h2 a {
                border: 0;
            }

@media screen and (max-width: 500px) {
    #products img {
        width: 100%;
    }
}

#team {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
}
    #team li {
        display: block;
        float: left;
        width: 225px;
        text-align: center;
    }
        #team li img {
            border-radius: 50%;
            width: 130px;
            margin-bottom: 10px;
        }
        #team li > a {
            border: 0;
        }
        #team li > a:hover {
            background: transparent;
        }
        #team li > h2 {
            font-weight: normal;
            margin: 0;
        }
        #team li > h3 {
            font-weight: normal;
            margin: 0;
            font-size: 13px;
            color: #6B6B6B;
            margin-bottom: 5px;
        }
        #team li > p {
            font-size: 12px;
        }