
body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #342D27;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted;
}
a:hover {
    background: #f85931;
    color: #fff;
}

.container {
    width: 900px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .container {
        width: auto;
        padding: 0 20px;
    }
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

#header {
    background: #f8f6ee url(../img/bg.png);
    padding: 30px 0;
    text-align: center;
}
    #header .logo {
        border: 0;
        display: block;
        margin-bottom: 15px;
    }
    #header .logo:hover {
        background: transparent;
    }
        #header .logo img {
            width: 300px;
        }
    #header .nav a {
        border: 0;
        padding: 7px 12px;
        border-radius: 4px;
        color: #555;
        font-size: 23px;
        line-height: 37px;
    }
    #header .nav a:hover {
        color: #fff;
    }

#footer {
    margin-top: 100px;
    margin-bottom: 25px;
    color: #555;
    text-align: center;
    font-size: 14px;
}
    #footer a {
        color: #333;
    }

@media screen and (max-width: 500px) {
    #footer {
        margin-top: 40px;
    }
}

.page-header {
    background: #ec9781;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    padding: 15px 0;
    font-size: 33px;
    font-weight: 300;
    color: #fff;
}
    .page-header a {
        border: 0;
        color: #fff;
    }
    .page-header a:hover {
        text-decoration: none;
        background: transparent;
    }

#content {
    text-align: justify;
    font-size: 20px;
    line-height: 28px;
}
    #content hr {
        border: 0;
        border-top: 1px solid #ccc;
        margin: 30px 0;
    }
    #content h2 {
        font-weight: normal;
        text-align: center;
    }

#products {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
    #products li {
        margin: 0;
        margin-bottom: 40px;
    }
        #products li > a:first-child {
            float: left;
            margin-right: 35px;
            margin-bottom: 20px;
            box-shadow: 1px 1px 11px 0px rgba(50, 50, 50, 0.36);
            border: 0;
            line-height: 0;
        }
        #products li > a:first-child > img {
            max-width: 400px;
        }
        #products li > h2 {
            margin-top: 0;
            font-weight: normal;
            text-align: left;
        }
            #products li > h2 a {
                border: 0;
            }
        #products li > p {
            font-size: 18px;
            line-height: 23px;
        }

@media screen and (max-width: 500px) {
    #products img {
        width: 100%;
    }
}

#team {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    #team li {
        display: inline-block;
        width: 225px;
        text-align: center;
        flex: 0 0 225px;
    }
        #team li .avatar {
            border-radius: 50%;
            width: 130px;
            height: 130px;
            margin-bottom: 10px;
            background-size: cover;
            background-position: center;
            display: inline-block;
        }
        #team li > a {
            border: 0;
        }
        #team li > a:hover {
            background: transparent;
        }
        #team li > h2 {
            font-weight: normal;
            margin: 0;
        }
        #team li > h3 {
            font-weight: normal;
            margin: 0;
            font-size: 13px;
            color: #6B6B6B;
            margin-bottom: 5px;
        }
        #team li > p {
            font-size: 12px;
        }


@media screen and (max-width: 630px) {
    #team {
        flex-direction: column;
    }
}

#jobs {
    text-align: left;
    list-style: none;
    margin: 60px 0 20px;
    padding: 0;
}
    #jobs li {
        border-bottom: 1px dotted #ddd;
        padding: 0 0 10px;
        margin-bottom: 10px;
    }
    #jobs li:last-child {
        border: 0;
    }
        #jobs h2 {
            text-align: left;
        }