<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <meta description="Digicoop is a French worker cooperative which develops online collaborative tools to help teams work better together">
  <meta property="og:title" content="{{ page.title }}" />
  <link rel="icon" type="img/png" href="/assets/img/favicon.png">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/layout.css">
  {% include assets.html assets=layout.assets %}
  {% include assets.html assets=page.assets %}
  <script async defer data-domain="digicoop.io" src="https://plausible.digicoop.io/js/plausible.js"></script>
</head>
<body>
  {{ content }}
</body>
</html>
